<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quzhigang.mapper.CityMapper">
	<resultMap type="com.quzhigang.model.CityModel" id="CityModelMap">

		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="pid" column="pid" />
		<result property="first_letter" column="first_letter" />
		<result property="pinyin" column="pinyin" />
	</resultMap>
</mapper>




